.Button {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  min-width: 3rem;

  background: transparent;
  margin: 0;
  padding: 0.375rem 1rem;
  flex-grow: 1;
  /* padding: 0.5rem 1rem; */
  border: 1px solid #B3E5FC;

  border-radius: 0.25rem;
  outline: none;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.32s cubic-bezier(0.55, 0, 0.1, 1),
              border-color     0.32s cubic-bezier(0.55, 0, 0.1, 1);

  &--hover,
  &:hover {
    background: #E1F5FE;
    border-color: #B3E5FC;
    transition: background-color 0s linear,
                border-color     0s linear;
  }

  &--active,
  &:active {
    background: #A7E4FA;
    border-color: #4FC3F7;

    &:hover {
      background: #B3E5FC;
      border-color: #81D4FA;
      transition: background-color 0.32s cubic-bezier(0.55, 0, 0.1, 1),
                  border-color     0.32s cubic-bezier(0.55, 0, 0.1, 1);
    }
  }

  .ink {
    color: #00A6F0;
  }
}

.ButtonGroup {
  margin: 0;
  padding: 0;
  border: 0;

  &-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  &-button {

    &:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-right: 0;
    }

    &:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-left: 0;
    }
  }

  &--layout {

    &--horisontal {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;

      .ButtonGroup-label {
        margin-right: 1rem;
      }
    }
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
