.ButtonGroup {
  margin: 0;
  padding: 0;
  border: 0;

  &-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  &-button {

    &:not(:last-child) {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-right: 0;
    }

    &:not(:first-child) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-left: 0;
    }
  }

  &--layout {

    &--horisontal {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;

      .ButtonGroup-label {
        margin-right: 1rem;
      }
    }
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
